/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.announcement-bar {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Assurez-vous que la bande est au-dessus de tout autre contenu */
    font-size: 1em;
    overflow: hidden; /* Assurez-vous que le contenu ne déborde pas */
}

.announcement-bar span {
    display: inline-block;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.fade-out {
    transform: translateY(-100%);
    opacity: 0;
}

.fade-in {
    transform: translateY(100%);
    opacity: 1;
}
/* Header */
header {
    background-color: #fe9dc0;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin-top: 38px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px; /* Largeur maximale pour centrer le contenu */
    margin-left: auto;
    margin-right: auto;
    
}
.header-content-mobile {
        display: none;
}
.menu-hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

/* Styles pour le menu mobile */
.mobile-menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 150px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%; /* Ajustez la largeur si nécessaire */
    padding: 20px; /* Ajoutez du padding si nécessaire */
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.mobile-menu li {
    border-bottom: 1px solid #ccc
    padding: 10px 0;
    text-align: center; /* Centrer les éléments du menu */
}

.mobile-menu li a {
    display: block;
    padding: 10px 20px;
    color: #fe9dc0;
    text-decoration: none;
    font-weight: bold;
}

.mobile-menu li a:hover {
    background-color: #f2f2f2;
}

.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons img {
    width: 24px;
    height: 24px;
    padding-top: 28px;
    margin-right: 16px; /* Espace entre les icônes */
}

.header-logo {
    max-width: 200px;
    text-align: center;
    flex-grow: 1;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
    position: relative
}


nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px; /* Agrandir la police des boutons du header */
    font-weight: bold; /* Mettre les boutons du header en gras */
}
nav ul li img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    padding-top: 25px;
    margin-right: 10px; /* Espace entre les icônes */
}
.cart-count {
    position: absolute;
    top: 5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}

.animate-cart {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
/* Main content */
main {
    padding: 2rem;
    text-align: center;
    margin-top: 100px; /* Pour éviter que le contenu soit caché derrière le header */
    max-width: 1600px; /* Largeur maximale pour centrer le contenu */
    margin-left: auto;
    margin-right: auto;
}

/* Carrousel */
.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-container img {
    width: 100%;
    flex-shrink: 0;
}
.main-title {
    font-size: 20px;
    font-weight: bold;
    color: #fd518f;
}
.main-text {
    font-size: 16px;
    color: #fd518f;
}
/* Productos Favoritos */
.productos-favoritos, .nuestra-linea-capilar {
    padding: 20px;
    border-top: 1px solid #fd518f;
}

.productos-favoritos h2, .nuestra-linea-capilar h2 {
    text-align: left;
}

/* Image et Texte */
.image-text-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.image-text-container {
    display: flex;
    align-items: center; /* Centrer verticalement */
    color: #fd518f;
}
.image-text-container img {
    max-width: 80%;
    margin-right: 20px;
    border-radius: 15px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-text-container p {
    max-width: 50%;
    margin: 0; /* Supprimer les marges par défaut du paragraphe */
}

/* Nuestra Linea Capilar */
#verMasButton, #verMenosButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fe9dc0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Footer */
footer {
    background-color: #fe9dc0;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Conteneur de produits */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Espace entre les produits */
    gap: 20px; /* Espace entre les produits */
}

/* Produits */
.product {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
  
}

.product-top {
    cursor: pointer;
    transition: transform 0.2s;
}

.product-top:hover {
    transform: scale(1.05); /* Effet d'agrandissement */
}

.product-tag {
    display: block;
    margin-bottom: 0.5rem;
    color: #fd518f; /* Couleur du texte du tag */
}

.product img {
    width: 80%; /* Réduire la taille des images */
    height: auto;
    border-radius: 15px; /* Ajouter des bords arrondis */
    transition: transform 0.2s;
    margin: 0; /* Réduire l'écart */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre sous l'image */
}

.product-top:hover .product-image {
    transform: scale(1.1); /* Effet d'agrandissement sur l'image */
}

.product h3 {
    margin: 0.5rem 0;
    color: #fd518f; /* Couleur du texte du nom du produit */
}

.product-bottom {
    display: flex;
    flex-direction: column; /* Aligner les boutons verticalement */
    align-items: center; /* Centrer les boutons horizontalement */
    margin-top: 1rem;
}
.product-bottom button {
    width: 40%; /* Ajuster la largeur des boutons */
    margin: 0.5rem 0; /* Ajouter de la marge entre les boutons */
}

.product-bottom button:last-child {
    background-color: transparent; /* Pas de cadre */
    color: #fe9dc0; /* Couleur de texte */
    border: none;
    text-decoration: underline; /* Texte souligné */
    font-weight: bold; /* Texte en gras */
    cursor: pointer;
}

.product-bottom button:last-child:hover {
    text-decoration: underline;
}

.product button {
    background-color: #fe9dc0;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem 0;
    font-size: 16px;
    transition: transform 0.2s;
}

.product button:hover {
    transform: scale(1.1);
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Section des pages produit*/
/* Section gauche du produit */
.product-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px; /* Ajustez cette valeur si nécessaire */
}
.product-left {
    width: 50%;
    text-align: center;
}

.product-left .product-tag {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #fe9dc0; /* Couleur du tag */
}

.product-left img {
    width: 70%; /* Ajuster cette valeur si nécessaire */
    height: auto;
    border-radius: 15px; /* Ajouter des bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre sous l'image */
    margin: 0 auto 1rem; /* Centrer l'image et ajouter une marge en bas */
}


/* Section droite du produit */
.product-right {
    width: 50%;
    padding-left: 2rem;
    font-size: 28px;/* Ajouter un espacement à gauche */
}

.product-right h2 {
    color: #fe9dc0; /* Couleur du texte du nom du produit */
}
.product-right h2::after {    
    content: '';   
    display: block;   
    width: 100%;    
    height: 2px;   
    background-color: #fe9dc0; /* Couleur de la barre */    
    margin: 0.5rem 0; /* Espacement au-dessus et en dessous de la barre */
}

.product-description {
    margin-bottom: 1rem;
    font-weight: bold;/
 }   

.product-description,
.product-ingredients,
.product-usage {
    margin-bottom: 1rem;
    font-size: 23px;
    text-align: left;/* Agrandir la police des boutons du header */   
}

.product-ingredients strong,
.product-usage strong {
    display: block;
    color: #000;
    text-align: center;
     color: #fe9dc0;/* Couleur du titre */

}

.product-prices {
    display: flex;
    flex-direction: column; /* Aligner les boutons verticalement */
}

.product-prices button {
    background-color: #fe9dc0;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem 0; /* Ajouter de la marge entre les boutons */
    font-size: 25px;
    transition: transform 0.2s;
}

.product-prices button:hover {
    transform: scale(1.1);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Contenu de la page carrito */
.cart-title {
    text-align: right;
    padding-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: none;
}
th, td {
    padding: 10px;
    border: none; /* Remove inner borders */
    text-align: center;
}    
td img {
    width: 75px;
    height: auto;
    border-radius: 10px;
}
#cart-table {
    width: 100%;
    border-collapse: collapse;
}

#cart-table th, #cart-table td {
    padding: 10px;
    border: none;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#total-container {
    text-align: right;
    margin-top: 20px;
    margin-right: 20%;
    font-size: 1.8em;
    border-bottom: 1px solid #ddd;
}
.cart-quantity {
    width: 50px; /* Réduire la largeur */
    text-align: center;
    border-radius: 5px; /* Bord arrondi */
    border: 1px solid #ddd;
}

.cart-remove button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; /* Bord arrondi */
}

.cart-remove button:hover {
    background-color: #d32f2f;
}

#cart-empty {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}

button {
    background-color: #fe9dc0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px; /* Bord arrondi */
}

button:hover {
    background-color: #ebb679;
}

#cartContents div {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem auto;
    width: 80%;
    max-width: 300px;
    background-color: white;
}

#cartContents p {
    margin: 0 0 1rem 0;
}

#cartContents button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

#cartContents button:hover {
    background-color: #d32f2f;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Contenu de la page finalizar */
.finalizar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section, .right-section {
    width: 48%;
    padding: 40px;
}

.left-section {
    margin-right: 2%;
}

.left-section form {
    display: flex;
    flex-direction: column;
}

.left-section input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.left-section button, .right-section button {
    padding: 10px;
    background-color: #fe9dc0;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

.left-section button:hover, .right-section button:hover {
    background-color: #e08dae;
}
.form-section {
    margin-bottom: 20px;
    text-align: left; /* Aligne le texte à gauche */
}

.form-section h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.delivery-options {
    display: flex;
    flex-direction: column;
}

.delivery-options button {
    background-color: white;
    border: 2px solid #fe9dc0;
    color: #e08dae;
}
.delivery-option {
    display: flex;
    justify-content: space-between; /* Espace entre le texte et le logo */
    align-items: center;
    padding: 10px;
    margin-bottom: -11px; /* Supprime l'espace entre les options */
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.delivery-option img {
    width: 5%;
    margin-left: auto; /* Place le logo à droite */
}
.delivery-option label {
    margin-right: auto; /* Place le texte à gauche */
}

.delivery-option input[type="radio"] {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.direccion-container {
    border: 1px solid ; /* Ajoute une bordure à la case */
    padding: 10px; /* Ajoute du padding à la case */
    border-radius: 5px; /* Ajoute des coins arrondis */
    background-color: #f1f1f1; /* Ajoute un fond de couleur */
}
.direccion-container p {
    margin: 0; /* Supprime les marges des paragraphes */
    text-align: left; /* Aligne le texte à gauche */
}

#envia-fields input, #tienda-fields p {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
#envia-fields , #tienda-fields {
    margin-top: 20px;
}
.payment-details img {
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.payment-details button {
    width: 100%;
}
.payment-details {
    display: none;
    margin-top: 20px;
}

.payment-details.visible {
    display: block;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.right-section {
    margin-left: 2%;
    position: -webkit-sticky; /* Pour compatibilité avec certains navigateurs */
    position: sticky;
    top: 125px;
    align-self: flex-start; /* Pour s'assurer que la section droite commence en haut */
}
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Section pop up*/
.cart-popup {
    display: none; /* Start hidden */
    position: fixed;
    top: 20%;
    right: 1%;
    width: 80%;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: popupAnimation 0.5s ease-in-out forwards;
    border-radius: 10px;
    z-index: 1000;
}

.cart-popup-content {
    padding: 20px;
}

@keyframes popupAnimation {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cart-popup-body {
    max-height: 60vh; /* Adjust height as needed */
    overflow-y: auto;
}

.cart-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.cart-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-popup-header h2 {
    margin: 0;
}

.close-button {
    cursor: pointer;
    font-size: 20px;
}

.cart-popup-footer {
    text-align: right;
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px;

}
/* Effet de respiration */
@keyframes breathe {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Effet de rebondissement */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.cart-popup-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #fe9dc0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation: breathe 2s infinite;
}

.cart-popup-button img {
    width: 30px;
    height: 30px;
}
#popup-cart-count {
    position: absolute;
    top: -1px;
    right: -1px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
.bounce {
    animation: bounce 1s;
}
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||Media query pour mobile */
@media (max-width: 768px) {
    .header-content {
        display: none;
    }

    .header-content-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px; /* Ajustez le padding si nécessaire */
    }
    
    .menu-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 90px;
    }
    
    .header-logo {
        height: 80%;
    }
    .carrito-icon {
        max-height: 50px;
        display: flex;
        align-items: center;
    }
    
    .carrito-icon img {
        max-height: 30px; /* Taille de l'icône du panier */
        width: auto;
    }
    .cart-count {
        position: absolute;
        top: -5px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 5px;
        font-size: 12px;
    }
    .header-content-mobile .header-logo {
        max-height: 120px;
        max-width: 120px;
    }
    .menu-hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .menu-hamburger .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }
    
    .image-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .image-text-container img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px; /* Ajouter un espace entre l'image et le texte */
    }
    .image-text-container p {
        padding: 0 20px; /* Ajouter un padding pour éviter que le texte colle aux bords */
    }
    
    .nuestra-linea-capilar, 
    .image-text-section, 
    .productos-favoritos {
        display: flex;
        flex-direction: column;
        align-items: center; /* Pour centrer les éléments */
    }
    .nuestra-linea-capilar .product, 
    .image-text-section .product, 
    .productos-favoritos .product {
        width: 100%;
        flex: 1 1 100%;/* Assurez-vous que les éléments occupent toute la largeur */
        margin-bottom: 20px; /* Ajoutez un espace entre les éléments */
    }
}
