/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #fe9dc0;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px; /* Largeur maximale pour centrer le contenu */
    margin-left: auto;
    margin-right: auto;
    
}

.header-logo {
    max-width: 200px;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px; /* Agrandir la police des boutons du header */
    font-weight: bold; /* Mettre les boutons du header en gras */
}

/* Main content */
main {
    padding: 2rem;
    text-align: center;
    margin-top: 100px; /* Pour éviter que le contenu soit caché derrière le header */
    max-width: 1600px; /* Largeur maximale pour centrer le contenu */
    margin-left: auto;
    margin-right: auto;
}

/* Footer */
footer {
    background-color: #fe9dc0;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Conteneur de produits */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Produits */
.product {
    border: none; /* Éliminer l'encadré */
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    background-color: transparent; /* Rendre l'arrière-plan transparent */
}

.product-top {
    cursor: pointer;
    transition: transform 0.2s;
}

.product-top:hover {
    transform: scale(1.05); /* Effet d'agrandissement */
}

.product-tag {
    display: block;
    margin-bottom: 0.5rem;
    color: #fd518f; /* Couleur du texte du tag */
}

.product img {
    width: 50%; /* Réduire la taille des images */
    height: auto;
    border-radius: 15px; /* Ajouter des bords arrondis */
    transition: transform 0.2s;
    margin: 0; /* Réduire l'écart */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre sous l'image */
}

.product-top:hover .product-image {
    transform: scale(1.1); /* Effet d'agrandissement sur l'image */
}

.product h3 {
    margin: 0.5rem 0;
    color: #fd518f; /* Couleur du texte du nom du produit */
}

.product-bottom {
    display: flex;
    flex-direction: column; /* Aligner les boutons verticalement */
    align-items: center; /* Centrer les boutons horizontalement */
    margin-top: 1rem;
}
.product-bottom button {
    width: 40%; /* Ajuster la largeur des boutons */
    margin: 0.5rem 0; /* Ajouter de la marge entre les boutons */
}

.product-bottom button:last-child {
    background-color: transparent; /* Pas de cadre */
    color: #fe9dc0; /* Couleur de texte */
    border: none;
    text-decoration: underline; /* Texte souligné */
    font-weight: bold; /* Texte en gras */
    cursor: pointer;
}

.product-bottom button:last-child:hover {
    text-decoration: underline;
}

.product button {
    background-color: #fe9dc0;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem 0;
    font-size: 16px;
    transition: transform 0.2s;
}

.product button:hover {
    transform: scale(1.1);
}

/* Contenu de la page produit */
/* Structurer la disposition des produits */
.product-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px; /* Ajustez cette valeur si nécessaire */
}

/* Section gauche du produit */
.product-left {
    width: 50%;
    text-align: center;
}

.product-left .product-tag {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #fe9dc0; /* Couleur du tag */
}

.product-left img {
    width: 80%; /* Ajuster cette valeur si nécessaire */
    height: auto;
    border-radius: 15px; /* Ajouter des bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre sous l'image */
    transition: transform 0.2s;
    margin: 0 auto 1rem; /* Centrer l'image et ajouter une marge en bas */
}

.product-left img:hover {
    transform: scale(1.1); /* Effet d'agrandissement sur l'image */
}

/* Section droite du produit */
.product-right {
    width: 50%;
    padding-left: 2rem; /* Ajouter un espacement à gauche */
}

.product-right h2 {
    color: #fe9dc0; /* Couleur du texte du nom du produit */
}

.product-description,
.product-ingredients,
.product-usage {
    margin-bottom: 1rem; /* Ajouter de l'espace entre les sections */
}

.product-prices {
    display: flex;
    flex-direction: column; /* Aligner les boutons verticalement */
}

.product-prices button {
    background-color: #fe9dc0;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem 0; /* Ajouter de la marge entre les boutons */
    font-size: 16px;
}

.product-prices button:hover {
    background-color: #ebb679;
}

/* Contenu du panier */
#cartContents div {
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem auto;
    width: 80%;
    max-width: 300px;
    background-color: white;
}

#cartContents p {
    margin: 0 0 1rem 0;
}

#cartContents button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

#cartContents button:hover {
    background-color: #d32f2f;
}
